@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.active{
    background: #008eed;
    border-radius: 10px;
}

.search {
    background-image: url("./assets/Images/searche.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;
    background-position-x: 5px;
}
 @media (max-width:1106px){
    .app_wrapper{
        display: none;
    }
 }