@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.active{
    background: #008eed;
    border-radius: 10px;
}

.search {
    background-image: url("./assets/Images/searche.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;
    background-position-x: 5px;
}
.message_wrapper{
    display: none;
}
.logo_animated{
    animation: twitter;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    transition: all 1s;
}

@keyframes twitter {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}
 @media (max-width:1110px){
    .app_wrapper{
        display: none;
    }
    .message_wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        background: #000;
    }
 }